.Mesagroup{
    font-family: cursive;
    color:aqua;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: brown;
    margin: 0px;
}
body{
    background-color: aquamarine;
margin: 0px;
}